APPWRITE_ENDPOINT=https://cloud.appwrite.io/v1
APPWRITE_PROJECT_ID=your-project-id
APPWRITE_API_KEY=your-api-key
APPWRITE_DATABASE_ID=idorlab
APPWRITE_TABLE_ID=invoices
APPWRITE_INSECURE_BUCKET_ID=invoices-public
APPWRITE_SECURE_BUCKET_ID=invoices-private
APPWRITE_SELF_SIGNED=false
